{% extends 'main.html' %} {% load static %} {% block content %}

<div class="container h-100">
  <div class="row h-100 align-items-center justify-content-center">
    <div class="col-lg-8">
      <div class="card border-0 rounded-3 shadow-lg">
        <div class="card-body p-4">
          <div class="text-center">
            <div class="h1 fw-light">Password reset complete</div>
            <p class="mb-4 text-dark">
              Your password has been set. You may go ahead and log in now.
            </p>
            <br />
            <a href="{% url 'login' %}">Login</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
