{% extends 'main.html' %} {% load static %} {% block content %}

<div class="container h-100">
  <div class="row h-100 align-items-center justify-content-center">
    <div class="col-lg-8">
      <div class="card border-0 rounded-3 shadow-lg">
        <div class="card-body p-4">
          <div class="text-center">
            <div class="h1 mb-3 text-dark">Enter new password</div>
            <p class="mb-4 text-muted">
              Please enter your new password twice so we can verify you typed it
              in correctly.
            </p>
          </div>
          <form method="POST">
            {% csrf_token %}
            <div class="form-floating mb-3 text-dark">{{form.as_p}}</div>

            <div class="d-grid">
              <button
                class="btn btn-lg btn-primary btn-login text-uppercase fw-bold mb-2"
                type="submit"
              >
                Sign in
              </button>
            </div>
          </form>
          <!-- End of contact form -->
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
