{% extends 'main.html' %} {% load static %} {% block content %}
<section class="">
  <div class="container p-5">
    <h1 class="display-6 text-light text-center">{{current_user}}</h1>
    <div class="spotify-embed pt-5">
      <iframe
        style="opacity: 0.7"
        src="https://open.spotify.com/embed?uri=spotify:track:3pHkh7d0lzM2AldUtz2x37"
        frameborder="0"
        allowfullscreen=""
        allow="autoplay; encrypted-media; "
      ></iframe>
    </div>
  </div>
</section>
{% endblock content %}
<!-- https://open.spotify.com/playlist/2t7cuLy7mMR8gD2ebko4ln?si=045d713f113e4e86 -->
<!-- https://open.spotify.com/embed?uri=spotify:track:3pHkh7d0lzM2AldUtz2x37 -->
<!-- https://open.spotify.com/playlist/2t7cuLy7mMR8gD2ebko4ln?si=ecd209ff862f446a -->
